<footer>
    <hr>
    <ul>
        <li><h3><a href="http://localhost:3000/">Para ir al inicio, da clic aqui</a></h3></li>
        <li><h3><a href="http://localhost:3000/agentes">Para ver los agentes, da clic aqui</a></h3></li>
        <li><h3><a href="http://localhost:3000/agentes/nuevo-agente">Para agregar un nuevo agente, da clic aqui</a></h3></li>
        <li><h3><a href="http://localhost:3000/armas">Para ver las armas, da clic aqui</a></h3></li>
        <li><h3><a href="http://localhost:3000/armas/nuevo-arma">Para agregar una nueva arma, da clic aqui</a></h3></li>
        <li><h3><a href="http://localhost:3000/lab-1">Para ver lab1, da clic aqui</a></h3></li>
    </ul>

</footer>
</body>
</html>