<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= Titulo %></title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body style="background-color:rgb(99, 99, 99);" >
    <header>
        <h1 class="text-white">Nombre: Leonardo Alvarado Menendez</h1>      
        <h3 class="text-white">Matricula: A01705998</h3>       
        <h3 class="text-white">Correo: A01705998@itesm.mx</h3>
        <hr>
    </header>