<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container row aline-items-center">
    <h1>Agentes</h1>
    <div class="card-columns" style="max-width: 18rem;">
        <% for (let agente of lista_agentes) { %>
            <div class="card">
                <img class="card-img-top" src="<%= agente.imagen %>"" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"><%= agente.agente %></p>
                </div>
            </div>
        <% } %>
    </div>
</main>

