<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<form action="nuevo-agente" method="POST">
    <div class="card">
        <div class="card-header">
            Guarda el agente
        </div>
        <div class="card-body">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <input type="text" name="guardar_agente" placeholder="Nombre agente"> <br> <br>
            <input type="text" name="imagen_agente" placeholder="link imagen"> <br> <br>
            <input type="submit" value="Guardar agente">
        </div>
    </div>
</form>
