<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="row align-items-center">
    <form action="/users/register" method="POST">
        <div class="card text-center" >
            <div class="card-header">
                Registro de usuario
            </div>
            <div class="card-body">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
                <input type="text" name="nombre" placeholder="Nombre usuario" required> <br> <br>
                <input type="text" name="username" placeholder="Username" required> <br> <br>
                <input type="password" name="password" placeholder="Contraseña" required> <br> <br>
                <input type="submit" class="btn btn-primary" value="Ingresar">
            </div>
        </div>
    </form>
</main>